.btn-group-vertical.btn-group-lg(role='group')
   input.btn.btn-default(type='button', ui-sref="workflow.status", ng-click="wc.setProject('dating.com')", value="dating.com")
   input.btn.btn-default(type='button', ui-sref="workflow.status", ng-click="wc.setProject('triptogether.com')", value="triptogether.com")
