.container.text-center
   .row
      .col-xs-12
         h1 GO MONKEY!!!
      .col-xs-12
         .btn-group(role='group')
            button.btn.btn-default(type='button') dating.com
            button.btn.btn-default(type='button') triptogether.com
      .col-xs-12
         .btn-group(role='group')
            button.btn.btn-default(type='button') scam payed
            button.btn.btn-default(type='button') scam free
            button.btn.btn-default(type='button') contact payed
            button.btn.btn-default(type='button') contact free
            button.btn.btn-default(type='button') aprove
            button.btn.btn-default(type='button') subscribed
      .col-xs-12
         .btn-group(role='group')
