.btn-group-vertical.btn-group-lg(role='group')
   input.btn.btn-default(type='button', ui-sref="workflow.status", ng-click="wc.setProject('DC')", value="dating.com")
   input.btn.btn-default(type='button', ui-sref="workflow.status", ng-click="wc.setProject('TT')", value="triptogether.com")
