.btn-group-vertical.btn-group-lg(role='group')
    input.btn.btn-default(type='button', ui-sref="workflow.projects", ng-click="wc.sendDoneData()", value="done")
    input.btn.btn-default(type='button', ui-sref="workflow", value="cancel")
    h3 project - {{wc.getProject()}}
    h3 status - {{wc.getStatus()}}
    h3 id - {{wc.getUserId()}}
