.container.text-center
   .row
      .col-xs-12
         h1 GO MONKEY!!!
   .row.jumbotron
      .col-xs-12
         .btn-group-vertical.btn-group-lg(role='group')
            button.btn.btn-default(type='button') dating.com
            button.btn.btn-default(type='button') triptogether.com
   .row.jumbotron
      .col-xs-12
         .btn-group-vertical.btn-group-lg(role='group')
            button.btn.btn-default(type='button') scam payed
            button.btn.btn-default(type='button') scam free
            button.btn.btn-default(type='button') contact payed
            button.btn.btn-default(type='button') contact free
            button.btn.btn-default(type='button') aprove
            button.btn.btn-default(type='button') subscribed
   .row.jumbotron
      .col-xs-12
         label ID
         input