.btn-group-vertical.btn-group-lg(role='group')
   button.btn.btn-default(type='button', ui-sref="workflow.data") scam payed
   button.btn.btn-default(type='button', ui-sref="workflow") scam free
   button.btn.btn-default(type='button', ui-sref="workflow.data") contact payed
   button.btn.btn-default(type='button', ui-sref="workflow") contact free
   button.btn.btn-default(type='button', ui-sref="workflow") aprove
   button.btn.btn-default(type='button', ui-sref="workflow.data") subscribed