.btn-group-lg(role='group')
   input.btn.btn-success(type='button', ui-sref="workflow.done", ng-click="wc.setStatus('aprove')", value="aprove")
.btn-group-lg(role='group')
   input.btn.btn-warning(type='button', ui-sref="workflow.data", ng-click="wc.setStatus('scam')", value="scam")
   input.btn.btn-danger(type='button', ui-sref="workflow.data", ng-click="wc.setStatus('scam (PAYED)')", value="scam (PAYED)")
.btn-group-lg(role='group')
   input.btn.btn-primary(type='button', ui-sref="workflow.done", ng-click="wc.setStatus('non-acceptable country')", value="nono")
   input.btn.btn-warning(type='button', ui-sref="workflow.done", ng-click="wc.setStatus('non-acceptable country (PAYED)')", value="nono (PAYED)")
.btn-group-lg(role='group')
   input.btn.btn-primary(type='button', ui-sref="workflow.done", ng-click="wc.setStatus('incorrect information')", value="inin")
   input.btn.btn-warning(type='button', ui-sref="workflow.done", ng-click="wc.setStatus('incorrect information (PAYED)')", value="inin (PAYED)")
.btn-group-lg(role='group')
   input.btn.btn-info(type='button', ui-sref="workflow.data", ng-click="wc.setStatus('Duplicate Account')", value="Duplicate Account")
   input.btn.btn-danger(type='button', ui-sref="workflow.data", ng-click="wc.setStatus('SPAM')", value="SPAM")
.btn-group-lg(role='group')
   input.btn.btn-primary(type='button', ui-sref="workflow.data", ng-click="wc.setStatus('contact')", value="contact")
   input.btn.btn-warning(type='button', ui-sref="workflow.data", ng-click="wc.setStatus('contact (PAYED)')", value="contact (PAYED)")
